AddType text/xml .opml 
AddHandler text/xml .opml

# Remove .php, .json and .opml from filenames
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.json -f 
RewriteRule ^(.*)$ $1.json

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.opml -f 
RewriteRule ^(.*)$ $1.opml

# Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

# Google, FLoC off! (and other privacy headers)
Header set Permissions-Policy "interest-cohort=()"
Header set Referrer-Policy "no-referrer"
Header set X-Content-Type-Options "nosniff"

# Add expire headers (prevents hotlinking)
<FilesMatch "\.(ico|jpg|jpeg|png|webp|gif|js|css|swf)$">
	Header set Expires "access plus 1 day"
</FilesMatch>

# File cache for static assets and images
<FilesMatch "\.(ico|jpg|jpeg|png|webp|gif|svg|woff|woff2)$">
	Header set Cache-Control "max-age=31536000"
</FilesMatch>

# Compress files
<FilesMatch "\.(js|css|html|htm|php|xml|opml)$">
	SetOutputFilter DEFLATE
</FilesMatch>

# GZip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css  application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Disable the server signature
ServerSignature Off

# Limit file uploads to 100K
LimitRequestBody 102400

# Follow symbolic links
Options +FollowSymLinks

